include ./../mixins/index

header.head
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.head__wrap
      +b.logo
        +e.__img.IMG(alt="logo" title="LOGO" src='/static/img/icon/logo.svg')
      

      +b.search.FORM
        +e.field.INPUT(type="search" name="q" placeholder="🔍 Search")
        +e.icon.SPAN
      +b.navigation.NAV
        +e.list.UL
          +e.item.LI
            +e.link.A(href="./direct.html")
              +e.icon.IMG(src="/static/img/icon/icon_home.svg")
          +e.item.LI
            +e.link.A(href="./direct.html")
              +e.icon.IMG(src="/static/img/icon/icon_telegram.svg")
              +e.iconMes.SPAN 5
          +e.item.LI
            +e.link.A(href="./direct.html")
              +e.icon.IMG(src="/static/img/icon/icon_love.svg")
          +e.item.LI
            +e.link.A(href="./direct.html")
              +e.icon.IMG(src="/static/img/icon/icon_compas.svg")
          +e.item.LI
            +e.link-circle.A(href="./personal.html")
