
<header class="head">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="head-w">
      <div class="logo"><img class="logo__img" alt="logo" title="LOGO" src="/static/img/icon/logo.svg"/>
      </div>
      <form class="search"><input class="search__field" type="search" name="q" placeholder="🔍 Search"/><span class="search__icon"></span>
      </form>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item"><a class="navigation__link" href="./direct.html"><img class="navigation__icon" src="/static/img/icon/icon_home.svg"/></a>
          </li>
          <li class="navigation__item"><a class="navigation__link" href="./direct.html"><img class="navigation__icon" src="/static/img/icon/icon_telegram.svg"/><span class="navigation__iconMes">5</span></a>
          </li>
          <li class="navigation__item"><a class="navigation__link" href="./direct.html"><img class="navigation__icon" src="/static/img/icon/icon_love.svg"/></a>
          </li>
          <li class="navigation__item"><a class="navigation__link" href="./direct.html"><img class="navigation__icon" src="/static/img/icon/icon_compas.svg"/></a>
          </li>
          <li class="navigation__item"><a class="navigation__link-circle" href="./personal.html"></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>