.btn
  width: 96px
  height: 28px
  background: #4094EF
  color: white
  font-size: 14px
  //+bold
  border: none
  border-radius: 5px
  margin: 1px
.btnFun
  background: #ffffff
  padding-bottom: 8px
  font-size: 14px
  letter-spacing: 2px
  //+bold
  border: none